@plugin 'tailwindcss-animate';
@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/forms';

@import "tailwindcss";

@config '../../tailwind.config.ts';

@custom-variant dark (&:is(.dark *));

@import "./shad-cn.css";
@import "./components.css";
@import "./components.utilities.css";

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    @apply dark:border-neutral-700;
  }
}

/* * {
  outline: 1px solid red;
} */

@keyframes gradient-animation {
  0% {
    -webkit-background-position: 0% 50%;
    background-position: 0% 50%;
  }
  50% {
    -webkit-background-position: 100% 50%;
    background-position: 100% 50%;
  }
  100% {
    -webkit-background-position: 0% 50%;
    background-position: 0% 50%;
  }
}

.gradient-top-animation {
  background-image: linear-gradient(-45deg, #ffcb47, #e34ba9, #369eff, #95f3d9);
  -webkit-background-size: 400% 400%;
  background-size: 400% 400%;
  -webkit-animation: gradient-animation 5s ease infinite;
  animation: gradient-animation 5s ease infinite;
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-4px);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateX(4px);
  }
}

.animate-shake {
  animation: shake 0.5s ease-in-out;
}
